<div class="comments">
<!--ng-show="displayComments"-->
    <div ng-include="'templates/partial/comment.html'"></div>

    <div ng-repeat="comment in post.comments" class="panel panel-default">

        <div class="panel-heading">
            <div class="panel-title">
                <a href="#/user/{{comment.author.username}}/wall" title="{{comment.author.name}}">
                    <img ng-src="{{comment.author.profileImageData || 'resources/defaultProfileImage.png'}}" class="lil-thumbnail"/>
                </a>

                <p class="info">
                    <span class="author comment-author">
                        <a href="#/user/{{comment.author.username}}/wall">
                            {{comment.author.name}}
                        </a>
                        </a>
                    </span>
                    <span class="date comment-date">{{comment.date |date: "dd MMM yyyy HH:mm:ss"}}</span>
                    <span ng-if="comment.author.username === username" class="controls">
                        <a href="" ng-click="comment.editing = true; comment.newCommentContent = comment.commentContent">
                            <span class="glyphicon glyphicon-pencil"></span> Edit
                        </a>
                        <a href="" ng-click="deleteComment(post, comment)">
                            <span class="glyphicon glyphicon-remove"></span> Delete
                        </a>
                    </span>
                </p>
            </div>
        </div>

        <div class="panel-body">
            <span ng-if="!comment.editing">
                {{comment.commentContent}}
            </span>
            <br/>

            <form ng-show="comment.editing" name="editCommentForm"
                  ng-submit="editComment(post, comment); comment.editing = false">
                <input type="text" class="form-control" ng-model="comment.newCommentContent" ng-minlength="1" required/>
                <br/>
                <button type="submit" class="btn btn-success" ng-disabled="editCommentForm.$invalid">Save</button>
                <a href="" ng-click="comment.editing = false" class="btn btn-danger">Cancel</a>
            </form>

            <!-- likes -->
            <span ng-if="isOwnWall || isOwnNewsFeed || post.author.isFriend || post.userFullData.isFriend" class="right">
                <a href="" ng-if="!comment.liked" ng-click="likeComment(post, comment)"><span class="glyphicon glyphicon-thumbs-up"></span> Like</a>
                <a href="" ng-if="comment.liked" ng-click="unlikeComment(post, comment)"><span class="glyphicon glyphicon-thumbs-down"></span> Unlike</a>
                <span class="badge">{{comment.likesCount}}</span>
            </span>

        </div>

    </div>
</div>