<nav>
    <div class="nav">
        <ul>
            <li class="inline"><a href="#/user/{{username}}/wall">
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-home"></span> My wall
                </button>
            </a></li>
            <li class="inline"><a href="#/">
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-globe"></span> News Feed
                </button>
            </a></li>

            <li ng-mouseenter="showPendingRequest = true" ng-mouseleave="showPendingRequest = false" class="inline">
                <a href="#/friends/requests/">
                    <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-user"></span> Friend
                        Requests <span ng-if="pendingRequests.length > 0"
                                       class="badge"> {{pendingRequests.length}}</span>
                    </button>
                </a>
                <ul id="friends-requests" ng-if="showPendingRequest && pendingRequests.length > 0">
                    <li ng-repeat="request in pendingRequests" class="list-group-item blue">
                        <a href="#/user/{{request.user.username}}/wall/" class="media-left">
                            <div>
                                <img ng-src="{{request.user.profileImageData || 'resources/defaultProfileImage.png'}}"
                                     style="width: 50px; height: 50px" class="pull-left"/>

                                <div class="media-body">
                                    <div class="media-body name">
                                        {{request.user.name}}
                                    </div>
                                    <div class="media-right action">
                                <span ng-click="approveFriend(request)"
                                      class="media-left btn btn-success btn-sm">Approve</span>
                                    </div>
                                    <div class="media-right action">
                                        <span ng-click="rejectFriend(request)"
                                              class="media-right btn btn-danger btn-sm">Reject</span>
                                    </div>
                                </div>
                            </div>
                        </a>


                    </li>
                </ul>
            </li>

            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                        aria-expanded="false">
                    <span class="glyphicon glyphicon-wrench"></span> Settings
                    <span class="caret"></span>
                </button>

                <ul class="dropdown-menu" role="menu">
                    <li><a href="#/settings/edit/profile">Edit Profile</a></li>
                    <li><a href="#/settings/edit/password">Change Password</a></li>
                </ul>
            </div>

            <li class="inline"><a href="#/">
                <button type="button" class="btn btn-default" ng-click="logout()"><span
                        class="glyphicon glyphicon-log-out"></span> Logout
                </button>
            </a></li>

            <li class="search inline">
                <input type="text" class="form-control" ng-model="searchTerm" ng-change="search(searchTerm)"
                       placeholder="Search" ng-focus="showHideResults()" ng-blur="showHideResults()"/>
            </li>
        </ul>
    </div>
</nav>
<br/>
<div ng-show="showSearchResults" id="search-queries" class="panel panel-body">
    <div ng-repeat="user in searchResults" style="text-align: left">
        <a href="#/user/{{user.username}}/wall/">
            <div class="blue">
                <img ng-src="{{user.profileImageData || 'resources/defaultProfileImage.png'}}"
                     style="width: 50px; height: 50px"/>
                <span class="name">{{user.name}}</span>
            </div>
        </a>
    </div>
    <div>{{searchResults.length}} total</div>
</div>

