<form ng-if="isLoggedIn()" name="changePasswordForm" ng-submit="changePassword(userData)"
      ng-controller="profileController" class="edit-profile">
    <fieldset>
        <legend>Change Password</legend>

        <label for="oldPassword">Old password</label>
        <input type="password" class="form-control input1" id="oldPassword" ng-model="userData.oldPassword" required/>
        <br/>

        <label for="newPassword">New password</label>
        <input type="password" class="form-control input1" id="newPassword" ng-model="userData.newPassword" required/>
        <br/>

        <label for="confirmPassword">Confirm password</label>
        <input type="password" class="form-control input1" id="confirmPassword" ng-model="userData.confirmPassword"
               compare-to="userData.newPassword" required/>
        <br/>

        <button type="submit" class="btn btn-success" ng-disabled="changePasswordForm.$invalid">Change Password</button>
        <a href="#/">
            <button type="button" class="btn btn-default">Cancel</button>
        </a>
    </fieldset>
</form>