<ul>
    <li ng-repeat="comment in post.comments">
        <div class="lil-mid-thumbnail">
            <img ng-src="{{comment.author.profileImageData || 'resources/defaultProfileImage.png'}}"/>
        </div>

        <!-- User Preview -->
        <div>
            <span popup-show="templates/user-preview" ng-click="loadUserDataPreview(comment.author.username)">
                {{comment.author.name}}
            </span>

            <div>
                {{comment.date | date: "dd MMM yyyy HH:mm:ss"}}
            </div>
        </div>

        <!-- Edit comment content-->
        <div>
            <span ng-if="!comment.editing">{{comment.commentContent}}</span>

            <form ng-show="comment.editing" name="editCommentForm" ng-submit="editComment(post, comment); comment.editing = false">

                <input type="text" ng-model="comment.newCommentContent" ng-minlength="1" required/>
                <button type="submit" ng-disabled="editCommentForm.$invalid">Edit comment</button>
                <a ng-click="comment.editing = false">Cancel</a>
            </form>
        </div>

        <div>
            <span ng-if="isOwnWall || isOwnNewsFeed || post.author.isFriend || post.userFullData.isFriend">
                <span ng-if="!comment.liked" ng-click="likeComment(post, comment)">
                    Like Comment
                </span>
                <span ng-if="comment.liked" ng-click="unlikeComment(post, comment)">
                    Unlike
                </span>

                <span>{{comment.likesCount}}</span>

            </span>
        </div>

        <ul>
            <li ng-if="comment.author.username === username" ng-click="comment.editing = true; comment.newCommentContent = comment.commentContent">
                <a>
                    edit
                </a>
            </li>
            <li ng-if="post.author.username === username || comment.author.username === username">
                <a ng-click="deleteComment(post, comment)">
                    delete
                </a>
            </li>
        </ul>

    </li>
    <li ng-if="post.comments.length < post.totalCommentsCount" ng-click="loadComments(post)">view all</li>
</ul>