<div ng-controller="profileController" ng-init="getFriendRequests()">

    <legend>
        <h2>Friend requests ({{pendingRequests.length}} total)</h2>
    </legend>

    <div ng-repeat="request in pendingRequests">
        <div>
            <h3 style="width: 155px">
                <a href="#/user/{{request.user.username}}/wall/">
                    <img ng-src="{{request.user.profileImageData || 'resources/defaultProfileImage.png'}}" class="thumbnail"/>
                   {{request.user.name}}
                </a>
            </h3>

            <span>
                <button class="btn btn-success" ng-click="approveFriend(request)" role="button">Approve</button>
                <button class="btn btn-danger" ng-click="rejectFriend(request)" role="button">Decline</button>
            </span>
        </div>
    </div>
</div>