<div ng-controller="profileController">
    <div ng-controller="userController" ng-init="getWallOwner()">
        <div ng-if="wallOwner.username === username || wallOwner.isFriend" ng-init="wallOwner.username === username ? loadOwnFriends() : loadUserFriends()">
            <fieldset>
                <legend>
                    <h2>Friends ({{friendsList.length}} total)</h2>
                </legend>

                <div>
                    <input type="text" class="form-control" placeholder="Search friend" ng-model="filterFriends.name"/>
                </div>

                <div>
                    <div ng-repeat="friend in friendsList | filter: filterFriends">
                        <div>
                            <a href="#/user/{{friend.username}}/wall/">
                            <img ng-src="{{friend.profileImageData || 'resources/defaultProfileImage.png'}}" style="width: 100px; height: 100px"/>
                                <span style="display: block">{{friend.name}}</span>
                            </a>
                        </div>
                    </div>
                </div>

            </fieldset>
        </div>
    </div>
</div>