<!-- Welcome screen -->
<div ng-if="!isLoggedIn()" ng-controller="userController">
    <div>
        <h1>Welcome</h1>
        <div>
            <a href="#/login/"><button type="button" class="btn btn-default">Login</button></a>
            <span>or</span>
            <a href="#/register/"><button type="button" class="btn btn-default">Register</button></a>
        </div>
    </div>
</div>

<!-- News feed -->
<div ng-if="isLoggedIn()" ng-controller="profileController">
    <fieldset>
        <legend>
            <h2>NEWS FEED</h2>
        </legend>
        <div>
            <div ng-include="'templates/partial/posts.html'" infinite-scroll='loadNewsFeed()' infinite-scroll-disabled='scrollPause' infinite-scroll-distance="0"></div>
        </div>
    </fieldset>
</div>

<!-- Friends preview -->
<div ng-if="isLoggedIn()">
    <div ng-init="loadOwnFriendsPreview()" ng-include="'templates/partial/friends-preview.html'">
    </div>
</div>