<div ng-controller="userController" class="shrink">
    <form ng-submit="login(loginData)" name="loginForm">
        <fieldset>
            <legend>
                <h2>Login</h2>
            </legend>
            <div>
                <label for="log-username">Username</label>
                <input class="form-control" id="log-username" type="text" ng-model="loginData.username" required/>
            </div>
            <div>
                <label for="log-pass">Password</label>
                <input class="form-control" id="log-pass" type="password" ng-model="loginData.password" ng-minlength="6" required/>
            </div>
            <br/>

            <button type="submit" class="btn btn-default" ng-disabled="loginForm.$invalid">Login</button>
            <span>or</span>
            <a href="#/register">
                <button class="btn btn-default">Register</button>
            </a>

        </fieldset>
    </form>
</div>