<nav>
    <div>
        <a href="#/">Home</a>
        <a href="#/settings/edit/profile">Edit Profile</a>
        <a href="#/settings/edit/password">Change Password</a>
        <div>
            <input type="text" ng-model="searchTerm" ng-change="search(searchTerm)" placeholder="Search" ng-focus="showHideResults()" ng-blur="showHideResults()"/>
        </div>

        <div ng-show="showSearchResults">
            <ul>
                <li ng-repeat="user in searchResults">
                    <img ng-src="{{user.profileImageData || 'resources/defaultProfileImage.png'}}" class="lil-thumbnail"/>
                    {{user.name}}
                </li>
            </ul>
        </div>

        <div ng-controller="userController">
            <span ng-click="logout()">Logout</span>
        </div>
    </div>
</nav>