<form ng-controller="userController" ng-submit="register(registerData)" name="registerForm" class="shrink">
    <fieldset>

        <legend>Register</legend>
        <div>
            <label for="reg-username">Username</label>
            <input class="form-control" id="reg-username" type="text" ng-model="registerData.username" required/>
        </div>
        <div>
            <label for="reg-pass">Password</label>
            <input class="form-control" id="reg-pass" type="password" ng-model="registerData.password" ng-minlength="6"
                   required/>
        </div>
        <div>
            <label for="confirm-reg-pass">Confirm Password</label>
            <input class="form-control" id="confirm-reg-pass" type="password" ng-model="registerData.confirmPassword"
                   compare-to="registerData.password" required/>
        </div>
        <div>
            <label for="name">Name</label>
            <input class="form-control" id="name" type="text" ng-model="registerData.name" required/>
        </div>
        <div>
            <label for="email">Email</label>
            <input class="form-control" id="email" type="email" ng-model="registerData.email"
                   placeholder="example@yahoo.com" required/>
        </div>
        <div>
            <label>Gender</label>
            <br/>

            <div class="inline">
                <label for="male">Male</label>
                <input type="radio" ng-model="registerData.gender" id="male" name="gender" ng-value="1" required/>
            </div>
            <div class="inline">
                <label for="female">Female</label>
                <input type="radio" ng-model="registerData.gender" id="female" name="gender" ng-value="2" required/>
            </div>
            <div class="inline">
                <label for="other">Other</label>
                <input type="radio" ng-model="registerData.gender" id="other" name="gender" ng-value="3" required/>
            </div>
        </div>
        <br/>

        <button type="submit" class="btn btn-default" ng-disabled="registerForm.$invalid">Register</button>
        <span>or</span>
        <a href="#/login">
            <button class="btn btn-default">Login</button>
        </a>

    </fieldset>
</form>