<div ng-controller="userController" ng-init="loadUserData()">

    <div ng-controller="profileController" ng-if="userFullData" ng-include="'templates/user-header.html'">
    </div>
    <br/>

    <div class="wrapper">
        <div ng-if="isOwnWall || userFullData.isFriend" ng-include="'templates/post.html'">
        </div>
        <br/>

        <div ng-if="isLoggedIn() && userFullData" ng-include="'templates/user-news-feed.html'">
        </div>
    </div>

    <div ng-controller="profileController">
        <div ng-if="isOwnWall" ng-init="loadOwnFriendsPreview()" ng-include="'templates/friends-preview.html'">
        </div>

        <div ng-if="!isOwnWall && friendsPreview" ng-init="loadUserFriendsPreview()" ng-include="'templates/friends-preview.html'">
        </div>
    </div>

</div>