<form>
    <fieldset>
        <legend>Change Password</legend>
        <p>
            <label for="oldPassword">Old Password</label>
            <input type="password" id="oldPassword" ng-model="userData.oldPassword" required="required"/>
        </p>
        <p>
            <label for="newPassword">New Password</label>
            <input type="password" id="newPassword" ng-model="userData.newPassword" required="required"/>
        </p>
        <p>
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" id="confirmPassword" ng-model="userData.confirmPassword" required="required"/>
        </p>
        <p>
            <a ng-click="changePassword(userData)" class="button">Save Changes</a>
        </p>
    </fieldset>
</form>