<form>
    <fieldset>
        <legend>Edit Profile</legend>
        <p>
            <label for="name">Name</label>
            <input type="text" id="name" ng-model="userData.name" required="required"/>
        </p>
        <p>
            <label for="email">Email</label>
            <input type="email" id="email" ng-model="userData.email" required="required"/>
        </p>
        <p id="gender">
            Gender
            <input type="radio" name="gender" ng-model="userData.gender" value="{{userData.gender}}"/>Male
            <input type="radio" name="gender" ng-model="userData.gender" value="{{userData.gender}}"/>Female
            <input type="radio" name="gender" ng-model="userData.gender" value="{{userData.gender}}"/>Other
        </p>
        <p>
            <label for="profileImage">Profile Image:</label>
            <input type="file" id="profileImage" onchange="angular.element(this).scope().profileImageSelected(this)" value="Upload"/>
        <div class="profile-image-box">
            <img class="profile-image" ng-src="{{userData.profileImageData}}" />
            <p ng-if="userData.profileImageData == null">Profile Image Preview</p>
        </div>
        </p>
        <p>
            <label for="coverImage">Cover Image:</label>
            <input type="file" id="coverImage" onchange="angular.element(this).scope().coverImageSelected(this)"/>
        <div class="cover-image-box">
            <img class="cover-image" ng-src="{{userData.coverImageData}}" />
            <p ng-if="userData.coverImageData == null">Cover Image Preview</p>
        </div>
        </p>
        <p>
            <a ng-click="editProfile(userData)" class="button">Save Changes</a>
        </p>
    </fieldset>
</form>