#wrapper {
	margin-left: 20%;
	margin-right: 20%;
}

#app-header {
	text-align: center;
}

#app-footer {
	text-align: center;
}

.profile-image {
	width: 125px;
	height: 125px;
}

.lil-thumbnail {
	width: 50px;
	height: 50px;
}

.mid-thumbnail {
	width: 100px;
	height: 100px;
}

.midbig-thumbnail {
	width: 150px;
	height: 150px;
}

.big-thumbnail {
	width: 150px;
	height: 150px;
}

.bigbig-thumbnail {
	width: 200px;
	height: 200px;
}