#app-header {
	text-align: center;
}

#app-footer {
	text-align: center;
}

#wrapper {
	width: 45%;
	margin: 0 auto;
}

.lil-thumbnail {
	width: 35px;
	height: 35px;
}

.lil-mid-thumbnail {
	width: 75px;
	height: 75px;
}

.mid-thumbnail {
	width: 100px;
	height: 100px;
}

.thumbnail {
	width: 150px;
	height: 150px;
}

.big-thumbnail {
	width: 175px;
	height: 175px;
}

.cover {
	width: 850px;
	height: 350px;
}

.friends-preview {
	text-align: right;
}

.info {
	display: inline-block;
}

.author, .date {
	display: block;
}

.glyphicon-remove {
	color: red;
}

.glyphicon-pencil {
	color: black;
}

img {
	vertical-align: top;
}

.right {
	float: right;
}

.comments {
	float: right;
	width: 70%;
}

.comment-date, .comment-author {
	font-size: 80%;
}

.inline {
	display: inline-block;
}

.wrapper {
	width: 80%;
	margin: 0 auto;
}