#app-header {
	text-align: center;
}

#app-footer {
	text-align: center;
}

#wrapper {
	width: 45%;
	margin: 0 auto;
}

.lil-thumbnail {
	width: 54px;
	height: 54px;
}

.lil-mid-thumbnail {
	width: 75px;
	height: 75px;
}

.mid-thumbnail {
	width: 100px;
	height: 100px;
}

.thumbnail {
	width: 150px;
	height: 150px;
}

.big-thumbnail {
	width: 175px;
	height: 175px;
}

.cover {
	width: 850px;
	height: 350px;
}

.friends-preview {
	text-align: right;
}

.info {
	display: inline-block;
}

.author, .date {
	display: block;
}

.glyphicon-remove {
	color: red;
}

.glyphicon-pencil {
	color: black;
}

img {
	vertical-align: top;
}

.right {
	float: right;
}

.comments {
	float: right;
	width: 70%;
}

.comment-date, .comment-author {
	font-size: 80%;
}

.inline {
	display: inline-block;
}

.wrapper {
	width: 80%;
	margin: 0 auto;
}

.center {
	text-align: center;
}

.search {
	margin-top: 10px;
}

.controls {
	font-size: 13px;
}

textarea {
	width: 98%;
}

.inline {
	display: inline-block;
}

.nav {
	border: 1px solid purple;
	background-color: black;
}

.outline {
	color: white;
	text-shadow:
	-1px -1px 0 #000,
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000;
}

a:hover {
	text-decoration: none;
}

/*.welcome {*/
	/*width: 1000px;*/
	/*height: 500px;*/
	/*border-radius: 150px;*/
	/*-webkit-border-radius: 150px;*/
	/*-moz-border-radius: 150px;*/
/*}*/